/* Header */
.header {
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z--fixed);
    transition: .5s;
}

/* Navbar */

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            background-color: var(--container-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            padding: 2.5rem 0;
            width: 90%;
            top: -100%; //-100% to top
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 2rem;
            z-index: var(--z--fixed);
            transition: .4s;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    &__link,
    &__logo,
    &__toggle {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
    }

    &__toggle {
        font-size: 1.3rem;
        cursor: pointer;
    }
}

/* show Menu */
.show-menu{
    top: calc(var(--header-height) + 1rem);
}