/* For Small Devices */
@media screen and (max-width: 360px) {
    .svg__img {
        width: 100%;
    }

    .section {
        padding: 4.5rem 0 1rem;
    }

    .services__img {
        width: 100%;
    }

    .app__buttons {
        grid-template-columns: max-content;
    }

    .security__description {
        text-align: center;
    }
}

@media screen and (max-width: 570px) {
    .security__description {
        text-align: center;
    }
}

/* For Medium Device */
@media screen and (min-width: 576px) {

    .svg__img {
        height: 100%;
    }

    .section__title-center {
        text-align: initial;
    }

    .home__container,
    .about__container,
    .security__container,
    .services__container,
    .app__container,
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .app__buttons {
        grid-template-columns: repeat(1, max-content);
    }

    .footer_container {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .home__img {
        order: 1;
    }

    .about__data,
    .security__data,
    .app__data,
    .contact_description {
        text-align: initial;
    }

    .about__img,
    .app__img {
        order: -1;
    }

    .footer__copy {
        margin-top: 0;
    }

    .services__img {
        width: 120px;
    }
}

@media screen and (min-width:767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &__list {
            flex-direction: row;
            column-gap: 2.5rem;
        }

        &__toggle {
            display: none;
        }
    }

    .change-theme {
        position: initial;
    }

    .home__container {
        padding: 6rem 0 2rem;
    }

    .app__buttons {
        grid-template-columns: repeat(2, max-content);
        justify-content: initial;
    }
}

/*For large Device*/
@media screen and (min-width: 968px) {
    .button__header {
        display: block;
    }

    .svg__img {
        width: 470px;
    }

    .about__container,
    .security__container,
    .app__container,
    .contact__container {
        column-gap: 6rem;
    }

    .services__container {
        grid-template-columns: repeat(2, 2fr);
    }

    .contact__container {
        grid-template-columns: 3fr 1.5fr 1.25fr;
    }

    .footer {
        &_container {
            grid-template-columns: repeat(5, 1fr);
        }

        &__social {
            align-items: flex-start;

            &__link {
                font-size: 1.45rem;
            }
        }

        &__copy {
            margin-top: 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        &__img {
            width: 540px;
        }

        &__description {
            padding-right: 5rem;
        }
    }

    .footer_container {
        column-gap: 3rem;
    }

    .scrollup {
        right: 2rem;
    }
}