/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --header-height: 3rem;

    /* Colors */
    --first-color: hsl(177, 98%, 60%);
    --first-color-light: hsl(177, 98%, 85%);
    --first-color-lighten: hsl(177, 98%, 80%);
    --first-color-alt: hsl(177, 98%, 53%);
    --title-color: hsl(177, 4%, 15%);
    --text-color: hsl(177, 4%, 35%);
    --text-color-light: hsl(177, 4%, 65%);
    --body-color: hsl(177, 0%, 100%);
    --container-color: #fff;
    --scroll-bar-color: hsl(177, 4%, 85%);
    --scroll-thumb-color: hsl(177, 4%, 75%);

    /*Fonts */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*Font Weight */
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Margin*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;

    /*Z-index*/
    --z-tooltip: 10;
    --z--fixed: 100;

    //Responsive typography
    @media screen and (min-width: 968px) {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}